<h1 align="center">Listing all articles</h1>
<%= render 'shared/article', obj: @articles %>
<div align="center">
  <%= will_paginate @articles, renderer: RemoteLinkPagination::LinkRenderer %>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>