<script src="https://platform.linkedin.com/badges/js/profile.js" async defer type="text/javascript"></script>
<div align="center" class="badge-base LI-profile-badge" data-locale="ru_RU" data-size="medium" data-theme="light" data-type="VERTICAL" data-vanity="trigolos" data-version="v1"><a class="badge-base__link LI-simple-link" href="https://ru.linkedin.com/in/trigolos?trk=profile-badge"></a></div>
<h1>Welcome to Blog</h1>
<%= link_to 'About', about_path %>
