$navbar-default-bg: black;
@import "bootstrap-sprockets";
@import "bootstrap";
#logo {
  float: left;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

.article-actions {
  border-top: 1px solid #eaeaea;
  padding-top: 5px;
}

.article-title {
  font-weight: bold;
  font-size: 1.5em;
}

.article-body {
  border-top: 1px solid #eaeaea;
  padding-top: 10px;
  padding-bottom: 10px;
}

.article-meta-details {
  border-top: 1px solid #eaeaea;
}

.description {
  margin-top: 0;
}

.listing {
  list-style: none;
  padding-left: 0;
}

$marg: 13px;
body {
  padding-top: 70px;
}

.my-nav-button {
  margin: $marg 10px $marg 0;
}

.ul-my-button {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  li {
    display: inline-block;
    //margin-right: 10px;
  }
}

.get-format {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  li {
    display: inline-block;
  }
}

.get-format {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.get-format li {
  display: inline-block;
}

.custom-input {
  height: 20px;
}

.margin-left-right-format {
  margin: 0 calc((100vw - 200px) / 2);
}

.small-width {
  display: none;
}

@media screen and (min-width: 700px) {
  .ul-my-button {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline;
    li {
      display: inline-block;
      margin-right: 10px;
    }
  }
}

@media screen and (max-width: 550px) {
  .normal-width{
    display: none;
  }
  .small-width{
    display: inline;
  }
  .ul-my-button {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    li {
      display: inline-block;
      //margin-right: 10px;
    }
  }
}

.dropbtn {
  //background-color: #3498DB;
  color: white;
  padding: 9px;
  font-size: 16px;
  //border: none;
  cursor: pointer;
}

/* Контейнер <div> - необходим для размещения выпадающего содержимого */
.dropdown {
  float: right;
  position: relative;
  display: inline-block;
}

/* Выпадающее содержимое (скрыто по умолчанию) */
.dropdown-content {
  opacity: 90%;
  top: 42px;
  right: 14px;
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 200px;
  overflow: auto;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  z-index: 1;
  border: 1px solid transparent;
  border-radius: 4px;
}

/* Ссылки внутри выпадающего списка */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Изменение цвета выпадающих ссылок при наведении курсора */
.dropdown-content a:hover {
  background-color: #bababa
}

/* Показать выпадающее меню (используйте JS, чтобы добавить этот класс .dropdown-content содержимого, когда пользователь нажимает на кнопку выпадающего списка) */
.show {display: block;}

/* Для более красивого отображения кнопок в панеле */
#myDropdown {
  .button_to {
    margin: 0;
    padding: 0;

    button {
      margin: 13px 0 13px 16px;
    }
  }
}

/* Для удаления выпадающего меня при увеличении экрана */
@media screen and (min-width: 768px) {
  .show {
    display: none !important;
  }
}
@media screen and (min-width: 992px) {
  .row img{
    display: block;
    margin: 0 auto;
  }
}

.row img{
  display: block;
  margin: 0 auto;
}
